<div class="footer">
    <ul>
        <li><a href="index.html">INICIO</a></li>
        <li><a href="acerca-de.html">ACERCA DE</a></li>
        <li><a href="servicio.html">SERVICIO</a></li>
        <li><a href="contactenos.html">CONTACTENOS</a></li>
    </ul>
</div>