<h2>Búsqueda por Distrito</h2>

<form class="busqueda">
                <label for="">DEPARTAMENTO</label>
                <input type="text" name="" value="Lima"/>
                <label for="">DISTRITO</label>
                
                <%= select("post", "person_id", District.all.collect {|p| [ p.no_distrito, p.district_id ] }, {prompt: 'Selecciona Distrito'}) %>
                <input type="button" value="Buscar" name="" onclick="location.href = 'locales.html'"/>
         